*{
  margin:0;
  padding: 0;
  background-color: black;
  color: white;
}
.mode{
  display: flex;

  justify-content: center;
  align-items: center;
  margin-top: 20px;

}
.l-mode{
  width: 100px;
  background-color: white;
  color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 30px;
  border-radius: 5px;
  cursor:pointer;
  


}
.d-mode{

}
.light{
  background-color: white;
  color: white;
}